{% extends "community/base.html" %}
{% block content %}
<div class='content-section'>
  <div class="media">
    <div class="media-left media-top">
      <img class="rounded-circle media-object" style="width:100px" src="{{ user.profile.image.url }}" alt="">
    </div>
    <div class="media-body">
      <h1 class="border-bottom mb-2 ml-2">{{ user.username }}</h1>
      <h2>{{ user.email }}</h2>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data"><!--need enctype to save images-->
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update profile</legend>
      {{ u_form.as_p }}
      {{ p_form.as_p }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>
</div>

{% endblock content %}
